:host {
    width: 100vw;
    height: 30vh;

    #header {
        display: flex;
        align-items: center;

        .header-logo-link {
            margin-left: 100px;
        }

        .header-menu-list{
            list-style-type: none;
            display: flex;
        }

    }

}