<img
  class="header-logo"
  src="../../../assets/icons/iata-logo-transp.webp"
  height="127"
  alt="iata-logo-transp.png" />
<div class="greeting">{{greeting}}</div>
<form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <mat-form-field class="">
    <mat-label>Username</mat-label>
    <input matInput placeholder="" id="username" formControlName="username" />
  </mat-form-field>

  <mat-form-field class="">
    <mat-label>Password</mat-label>
    <input matInput placeholder="" id="password" formControlName="password" />
  </mat-form-field>
  <button mat-raised-button type="submit" color="primary">Log In</button>
</form>
