:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;

    .greeting {
        text-transform: uppercase;
        color: blue;
        font-weight: bold;
        padding: 20px;
    }

    .login-form {
        display: flex;
        flex-direction: column;
        width: 50vw;
        padding:10px;
    }
}